{% extends 'share/base.html' %}

{% load static %}
{% block title %}
  برگ نخست 
{% endblock title %}

{% block content %}
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4 ">
        <img src="{% static 'images/hafez.jpg'%}" alt="عکس حافظ" class="img-fluid" />
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 ">
        <p class="txt-justify">
          خواجه شمسُ‌الدّینْ محمّدِ بن بهاءُالدّینْ محمّدْ حافظِ شیرازی (۷۲۷ – ۷۹۲ هجری قمری) مشهور به لِسانُ‌الْغِیْب، تَرجُمانُ الْاَسرار، لِسانُ‌الْعُرَفا و ناظِمُ‌الاُولیاء، متخلص به حافظ، شاعر فارسی‌گوی ایرانی بود. بیش‌تر شعرهای او غزل است. مشهور است که حافظ به شیوهٔ سخن‌پردازی خواجوی کرمانی گرویده و همانندیِ سخنش با شعرِ خواجو مشهور است. حافظ را از مهم‌ترین اثرگذاران بر شاعرانِ فارسی‌زبانِ پس از خود می‌شناسند. در سده‌های هجدهم و نوزدهم میلادی اشعار او را به زبان‌های اروپایی نیز ترجمه کردند و نامش به محافل ادبی جهان غرب نیز راه یافت. هر سال در ۲۰ مهر مراسم بزرگداشت حافظ در آرامگاهش در شیراز با حضور پژوهشگرانی از اقصی نقاط دنیا برگزار می‌گردد. در تقویم رسمی ایران ۲۰ مهر را روز بزرگداشت حافظ نامیده‌اند. <br/>
 شهرتِ حافظ به «لسان‌ُالْغِیْب» باعث شد که خوانندگانِ دیوانش از همان دورانِ نزدیک به زندگانیَش، به دیوانش تفأل زنند و اعتقادِ حقیقی بدو و اشعارش پیدا کنند. <br/>
فالِ حافظ به‌معنی استفاده از دیوانِ حافظ برای برای پیش‌گوییِ سرنوشت و رفعِ تردید و خوب یا بد بودنِ عاقبتِ کاری یا استعلام از احوالِ شخصِ غایبی است. 
        </p>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4 text-center">
        <a href="{% url 'get_faal'%}">
        <img src="{% static 'images/getFall.png'%}" alt="گرفتن فال از دیوان حافظ" class="img-fluid" />
        </a>
      </div>
      <div class="col-4">
      </div>
    </div>
   
 
{% endblock content %}