{% extends 'share/base.html' %}

{% load static %}
{% block title %}
 {{ faal.title }} 
{% endblock title %}

{% block content %}

  <div style="background-color: white ; opacity: 0.5;">
        <h5>{{ faal.full_title }}</h5>
        <hr/>
      <p class="poem"> 
        {{ faal.html_text | safe }}
    
    
    </p>
    <div>
        <audio controls>
            <source src="{{ faal.mp3_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
  </div>
{% endblock content %}