{% extends 'share/base.html' %}

{% load static %}
{% block title %}
 {{ faal.title }} 
{% endblock title %}

{% block content %}

<div class="content ">
        <h5>{{ faal.full_title }}</h5>
        <hr/>
      <p class="poem"> 
        {{ faal.html_text | safe }}
        </p>
</div>
    <img src="/static/images/bolbols.png" alt="Faal Hafez" class="float-end bolbols"/>
    <div class="sticky-footer">
        <audio controls>
            <source src="{{ faal.mp3_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
{% endblock content %}